/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 18px; 
$base-font-family: Arial, sans-serif; 
$custom-font-family: 'Open Sans', sans-serif; 
$link-color: #100da9;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #000;
$title-color: #000;
$title-font-family: $custom-font-family;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;

$color-grey:        #747688;
$color-grey-2:      rgb(185, 184, 189);
$color-grey-3:      #666;
$color-orange:      #cb944c;
$color-black:       #171717;
$color-white:       #fff;
$color-dark-blue:   #2b3056;