.header {
	margin-bottom: 31px;
	&__width-holder {
		max-width: 1244px;
		margin: 0 auto;
		@include phone {
			display: flex;
		}
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 35px 16px 14px;
		border-bottom: 1px solid #dddfdf;
		&:last-child {
			padding: 18px 16px 15px;
		}
	}
	&__logo {
		flex-shrink: 0;
		@include width-1150 {
			transform: scale(0.8) translate(-17%,-20%);
		}
	}
	&__logo-image {
		margin-bottom: 4px;
	}
	&__logo-text {
		font: 14px/14px $font;
		color: $color-grey;
		display: block;
	}
	&__search-form {
		position: relative;
		height: 40px;
		margin-left: -47px;
		margin-top: -5px;
		@include width-1150 {
			width: 220px;

		}
	}
	&__search {
		border: 1px $color-grey-2 solid;
		border-radius: 4px;
		width: 494px;
		height: 40px;
		padding: 14px 9px;
		@include width-1150 {
			width: 220px;
			font-size: 10px;
		}
	}
	&__search-icon {
		width: 18px;
		height: 18px;
		fill: $color-orange;
		transform: rotateY(180deg);
	}
	&__search-button {
		width: 18px;
		height: 18px;
		padding: 0;
		box-sizing: border-box;
		background: none;
		border: 0;
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
	}
	&__contact {
		display: flex;
		.user-status {
			display: none;
		}
		@include width-1150 {
			flex-wrap: wrap;
			justify-content: flex-end;
			max-width: 245px;
			.user-status {
				margin-top: 5px;
				display: flex;
				flex-basis: 100%;
				justify-content: flex-end;

			}
		}
	}
	&__phone {
		font: 23px $font-bold;
		color: $color-black;
		letter-spacing: -0.5px;
		margin-right: 20px;
		@include width-1150 {
			font-size: 16px;
		}
	}
	&__work-time {
		font: 14px $font;
		color: $color-orange;
		letter-spacing: -0.5px;
		@include width-1150 {
			font-size: 10px;
		}
	}
	&__delivery {
		font: 14px $font;
		color: $color-dark-blue;
		letter-spacing: -0.5px;
		@include width-1150 {
			font-size: 10px;
		}
	}
}
