.navigation {
    &__list {
        display: flex;
        width: 809px;
        justify-content: space-between;
        @include width-1150 {
            width: 705px;
        }
    }
    &__link {
        color: $color-black;
        font: 16px/16px $font-bold;
        text-transform: uppercase;
        @include width-1150 {
            font-size: 13px;
        }
    }
    &__item {
        position: relative;
        &:hover .dropdown__list--1stLevel {
            display: block;
        }
    }
    &__hamburger,
    &__hamburger svg {
        width: 16px;
        height: 13px;
        fill: $color-orange;
    }
    &__arrow,
    &__arrow svg {
        width: 11px;
        height: 7px;
        fill: $color-orange;
        transform: rotate(180deg);
    }
    &__hamburger {
        margin-right: 6px;
    }
    &__arrow {
        margin-left: 5px;
    }
}