.nav-mobile {
    padding: 0;
    &__wrapper {
        height: 40px;
        width: 100%;
    }
    &__list {
        display: flex;
    }
    &__item {
        flex: 1 1 15%;
        &:hover .nav-mobile__link {
            background: #3eade2;
        }
    }

    &__link {
        height: 40px;
        display: block;
        font-size: 0;
        position: relative;
        z-index: 5;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: url(../img/sprite.png) no-repeat ;
            width: 16px;
            height: 16px;
            display: block;
        }
        &--nav:before {
            background-position: -6px -170px;
        }
        &--home:before {
            background-position: 0 0;
        }
        &--search:before {
            background-position: -5px -139px;
        }
        &--cart:before {
            background-position: -2px -35px;
        }
        &--person:before {
            background-position: -3px -105px;
            width: 19px;
        }
        &--phone:before {
            background-position: -5px -68px;
        }
        &:hover {
            background: #3eade2;

        }
    }
    .nav-mobile__item--active .navigation {
        display: block;
        border: 1px solid rgb(221, 223, 223);
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 1.5px 2.598px 1px 0 rgba(108, 104, 104, 0.33);
        z-index: 15;
        position: absolute;
        width: 50%;
        padding: 30px;
        .navigation__list {
            flex-direction: column;
            width: auto;
            background: white;
            z-index: 15;
        }
        .navigation__item {
            margin-bottom: 20px;
        }
    }
}