.slider {
    &__list {

    }
    &__slide {
        background: url(../img/slide1.jpg) no-repeat;
        background-size: cover;
        background-position: 0 100%;
        height: 325px;
        position: relative;
        align-items: center;
        @include width-768 {
            height: 165px;
        }
    }
    &__text {
        background: rgba(210, 166, 107,0.87);
        position: absolute;
        top: 50%;
        left: 22%;
        padding: 20px 35px;
        transform: translateY(-50%);
        font: 35px $font;
        color: $color-white;
        @include width-768 {
            font-size: 23px;
            left: 7%;
        }
        @include phone {
            font-size: 15px;
        }
    }
    .slick-prev,
    .slick-next {
        width: 40px;
        height: 135px;
        background: rgba(210, 166, 107,0.87) url(../img/arrow-white.png) no-repeat 50% 50%;
        z-index: 10;
        left:0;
        transition: 0.3s;
        &:hover {
            background: rgba(255, 255, 255,0.87) url(../img/arrow-orange.png) no-repeat 50% 50%;
            transition: 0.3s;
        }
        &:before {
            display: none;
        }
        @include width-768 {
            height: 98px;
            width: 20px;
            background-position: 25% 50%;
        }
        @include phone {
            width: 20px;
            height: 30px;
            background-size: 10px 15px;
        }

    }
    .slick-next {
        left: auto;
        right: 0;
        transform: rotate(180deg) translateY(50%);
    }
}